/* It is  copied from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: "Outfit";
}

/* It is also from google fonts */
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* For mobile screen if we wanna know o which page are we */
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

/* This sis for Product.jsx hota kia scrolbar side products kyy  liay show h rhii thii  */
::-webkit-scrollbar {
  display: none;
}
